obj/
debug/
*.suo
*.user
Voxalia.pdb
ModelToVMDConverter/bin/Release/*.pdb
SkeletalAnimationExtractor/bin/Release/*.pdb
Voxalia/bin/Release/*.pdb
*.exe
*.pak
clientdefaultsettings.cfg
serverdefaultsettings.cfg
x64/
models/
fonts/
sounds/
textures/
animations/
saves/
.vs/
*.psess
*.userprefs
VoxaliaClientGame.dll
VoxaliaServerGame.dll
VoxaliaShared.dll
VoxaliaServerSamplePlugin/bin/Release/
Voxalia/bin/Release/data/plugins/
